* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/*  HEATER STYLE  */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background-color: #FFFFFF;
}

#logo {
    height: 80px;
}

#menuHeader {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#menuHeader a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-weight: 500;
}

#menuHeader a:hover {
    color: #007bff;
}


/*  MAIN TYLE  */

main {
    background-color: black;
    color: white;
    height: 130px;
}

#content {
    padding-top: 40px;
    font-size: 30px;
    font-weight: 500;
}


/*  FOOTER STYLE  */

.utilityMenu {
    background-color: #0082F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#svg-img {
    height: 45px;
    margin-right: 15px;
}

.imgUtility {
    height: 70px;
    margin-right: 15px;
}

.service {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 20px
}